.Image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.ImageSection {
    height: 91vh;
}

.DivHeight {
    height: 45vh;
}

.AboutLink {
    color: #90ADBB;
}

.AboutLink:hover {
    cursor:pointer;
    color: black;
}

.RowAnimation {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}