.Image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.ImageSection {
    height: 88vh;
}

.ContainerAnimation {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}